{% load static %}
{% load store_tags %}
{% get_categories as categories %}
<div id="customCarousel1" class="carousel slide" data-ride="carousel">
        {% for category in categories %}
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Stylish Watches
                    </h1>
                    <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo maxime voluptatem a itaque suscipit.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'contact' %}" class="btn1">
                        Contact Us
                      </a>
                      <a href="{% url 'about' %}" class="btn2">
                        About Us
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="2" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="3" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="4" class="active"></li>
        </ol>
      </div>


