{% load static %}
<div class="ratio ratio-1x1">
                                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                                        <source src="{% static 'store/videos/silver.mp4' %}" type="video/mp4">

                                        Your browser does not support the video tag.
                                    </video>

                                    <div class="about-video-info d-flex flex-column">
                                        <h4 class="mt-auto">We Started Since 2007.</h4>

                                        <h4>Best watches in the World.</h4>
                                    </div>
                                </div>
 <div class="slider_bg_box">

        <img src="{% static 'store/images/lider-bg.jpg' %}" alt="">
      </div>